<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign In</title>
    <link rel="stylesheet" href="css/SignIn.css">
</head>
<body id="coachbody">
<h1>Sign In as a Coach</h1>
<form th:action="@{/save}" th:object="${}" method="post" id="coach">
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" placeholder="Input First name here"/><br/>
    <label for="username">Username:</label>
    <input id="username" type="text" th:field="*{username}" placeholder= "Input Username here"/><br/>
    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" th:field="*{lastName}"/><br/>
    <label for="password">Password:</label>
    <input id="password" type="password" th:field="*{password]}"/><br/>
    <label for="dateOfBirth">Date of Birth:</label>
    <input id="dateOfBirth" type="date" th:field="*{dateOfBirth}"/><br/>
    <label for="emailAddress">E mail:</label>
    <input id="emailAddress" type="email" th:field="*{emailAddress}"/><br/>
    <label for="phoneNumber">Phone Number:</label>
    <input id="phoneNumber" type="text" th:field="*{phoneNumber}"/><br/>

    <input type="submit" id="button">
</form>
</body>
</html>