<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" href="Login.css">
</head>
<body>
<h1>Log In</h1>
<form th:action="@{/login}" th:object="${usera}" method="post" id="form">
    <label for="username">Ussername:</label>
    <input id="username" type="text" th:field="*{username}"/><br/>
    <label for="password">Password:</label>
    <input id="password" type="password" th:field="*{password}"/><br/>
    <input type="submit" id="button">
</form>
</body>
</body>
</html>