<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
    <link rel="stylesheet" href="css/Users.css">
</head>
<body>
<h1>Request for coach sign in</h1>
<h3>This member would like to sign in as a coach</h3>

<table border= "solid 1px black">
	<thead>
	    <tr>
	        <th>Id</th>
	        <th>First name</th>
	        <th>Last name</th>
	        <th>Username</th>
	        <th>Role</th>
	        <th>Date of birth</th>
	        <th>Phone number</th>
	        <th>Email Address</th>
	    </tr>
	    <tr th:each="usera : ${users}">
	        <td th:text="${usera.id}"></td>
	        <td th:text="${usera.firstName}"></td>
	        <td th:text="${usera.lastName}"></td>
	        <td th:text="${usera.username}"></td>
	        <td th:text="${usera.role}"></td>
	        <td th:text="${usera.dateOfBirth}"></td>
	        <td th:text="${usera.phoneNumber}"></td>
	        <td th:text="${korisnik.emailAddress}"></td>
	        <td><input type="button" value="cancel" onclick="alert('Request denied')"></td>
	        <td><input type="button" value="accept" id="button" onclick="alert('The request was accepted')"></td>
	        
	    </tr>
	</thead>
</table>
</body>
</html>