@charset "ISO-8859-1";
body {
  background-color: white;
  color: black;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
#para1{
	color: #ff80c0;
}
#button{
	background-color: blue;
	color: white
}